<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFlc0gS1tAtbACfSILF3X4w7n4vXVDR88</string>
	<key>GCM_SENDER_ID</key>
	<string>509217958703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cengo.stockMarket</string>
	<key>PROJECT_ID</key>
	<string>stock-market-78808</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-market-78808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509217958703:ios:f6dc964f4ee93568594fda</string>
</dict>
</plist>